@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Sigmar+One&family=Titan+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
  margin: 0 auto;
  background-color: cornsilk;
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
}
/*! nav_________________________________________ */

.nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-around;

  font-family: "Titan One", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: large;
}

/*! nav_________________________________________  */


.nav-1 {
  padding: 10px;
  margin-top: 30px;
  background-color: burlywood;
  border-radius: 10px;
}

.nav-2 {
  padding: 10px;
  margin-top: 30px;
  background-color: burlywood;
  border-radius: 10px;
}

.nav-3 {
  padding: 10px;
  margin-top: 30px;
  background-color: burlywood;
  border-radius: 10px;
}

.nav-4 {
  padding: 10px;
  margin-top: 30px;
  background-color: burlywood;
  border-radius: 10px;
}

/* ! nav-animation________________________________ */

.nav-1:hover {
  color: brown;
  border-radius: 20px;
  background-color: rgba(255, 145, 0, 0.651);
}

.nav-2:hover {
  color: brown;
  border-radius: 20px;
  background-color: rgba(255, 145, 0, 0.651);
}

.nav-3:hover {
  color: brown;
  border-radius: 20px;
  background-color: rgba(255, 145, 0, 0.651);
}

.nav-4:hover {
  color: brown;
  border-radius: 20px;
  background-color: rgba(255, 145, 0, 0.651);
}

/* !______________________________________________________ */


a{
    text-decoration: none;
    color: black;
}

/*! content__________________________________________________  */

.brand,.content {
  width: 100%;
  max-width: 1200px; /* ป้องกันไม่ให้กว้างเกิน */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  
}

.content {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  grid-template-rows: auto;
}

.content-1 {
  text-align: center;
  font-family: "Sigmar One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;

  grid-column: 1/5;
  grid-row: auto;
  background-color: burlywood;
  padding: 30px;
  border-radius: 50px;
}
.content-1 h2 {
  margin-right: 50px;
}

/*!__________________________________________________  */


.hero {
  font-size: larger;
  text-decoration: none;
  color: black;
}

.hero:hover {
  color: brown;
}

/* ! Brand Animation */

.brand-1 {
  position: relative;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

/* หน้า (front) */
.brand-1::before,
.brand-1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backface-visibility: hidden; /*  ป้องกันกลับด้านตัวอักษร */
  top: 0;
  left: 0;
}

/* ด้านหน้า */
.brand-1::before {
  background: linear-gradient(135deg, #ffd6e0, #1a2797d7);
}

/* ด้านหลัง */
.brand-1::after {
  content: "Update \A \A & \A \A Confrimeorder !";
  white-space: pre;
  background: rgba(0,0,0,0.75);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Prompt", sans-serif;
  font-size: 18px;
  transform: rotateY(180deg); /*  หมุนฝั่งข้อความไว้ล่วงหน้า */
  border-radius: 100px;
  
}



/* เมื่อ hover กล่องหมุน */
.brand-1:hover {
  transform: rotateY(180deg);
}




/* !_____________________________________ */
.brand-2 {
  position: relative;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

/* หน้า (front) */
.brand-2::before,
.brand-2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backface-visibility: hidden; /*  ป้องกันกลับด้านตัวอักษร */
  top: 0;
  left: 0;
}

/* ด้านหน้า */
.brand-2::before {
  background: linear-gradient(135deg, #ffd6e0, #1a2797d7);
}

/* ด้านหลัง */
.brand-2::after {
  content: "Update \A \A & \A \A Confrimeorder !";
  white-space: pre;
  background: rgba(0,0,0,0.75);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Prompt", sans-serif;
  font-size: 18px;
  transform: rotateY(180deg); /*  หมุนฝั่งข้อความไว้ล่วงหน้า */
  border-radius: 100px;
}

/* เมื่อ hover กล่องหมุน */
.brand-2:hover {
  transform: rotateY(180deg);
}






/* !__________________________________ */

.brand-3 {
  position: relative;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

/* หน้า (front) */
.brand-3::before,
.brand-3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backface-visibility: hidden; /*  ป้องกันกลับด้านตัวอักษร */
  top: 0;
  left: 0;
}

/* ด้านหน้า */
.brand-3::before {
  background: linear-gradient(135deg, #ffd6e0, #1a2797d7);
}

/* ด้านหลัง */
.brand-3::after {
  content: "Update \A \A & \A \A Confrimeorder !";
  white-space: pre;
  background: rgba(0,0,0,0.75);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Prompt", sans-serif;
  font-size: 18px;
  transform: rotateY(180deg); /*  หมุนฝั่งข้อความไว้ล่วงหน้า */
  border-radius: 100px;
}

/* เมื่อ hover กล่องหมุน */
.brand-3:hover {
  transform: rotateY(180deg);
}


/* !__________________________________ */

.brand-4 {
  position: relative;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

/* หน้า (front) */
.brand-4::before,
.brand-4::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backface-visibility: hidden; /*  ป้องกันกลับด้านตัวอักษร */
  top: 0;
  left: 0;
}

/* ด้านหน้า */
.brand-4::before {
  background: linear-gradient(135deg, #ffd6e0, #1a2797d7);
}

/* ด้านหลัง */
.brand-4::after {
  content: "Update \A \A & \A \A Confrimeorder !";
  white-space: pre;
  background: rgba(0,0,0,0.75);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Prompt", sans-serif;
  font-size: 18px;
  transform: rotateY(180deg); /*  หมุนฝั่งข้อความไว้ล่วงหน้า */
  border-radius: 100px;
}

/* เมื่อ hover กล่องหมุน */
.brand-4:hover {
  transform: rotateY(180deg);
}


.footer{
  font-family: "SUSE Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



















