@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Sigmar+One&family=Titan+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
body {
  margin: 0 auto;
  background-color: cornsilk;
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
}
/*! nav--------------------------  */

.nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-around;

  font-family: "Titan One", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: large;


}

.nav-1 {
  padding: 10px;
  margin-top: 30px;
  background-color: burlywood;
  border-radius: 10px;
}

.nav-2 {
  padding: 10px;
  margin-top: 30px;
  background-color: burlywood;
  border-radius: 10px;
}

.nav-3 {
  padding: 10px;
  margin-top: 30px;
  background-color: burlywood;
  border-radius: 10px;
}

.nav-4 {
  padding: 10px;
  margin-top: 30px;
  background-color: burlywood;
  border-radius: 10px;
}

/* ! nav-animation________________________________ */

.nav-1:hover {
  color: brown;
  border-radius: 20px;
  background-color: rgba(255, 145, 0, 0.651);
}

.nav-2:hover {
  color: brown;
  border-radius: 20px;
  background-color: rgba(255, 145, 0, 0.651);
}

.nav-3:hover {
  color: brown;
  border-radius: 20px;
  background-color: rgba(255, 145, 0, 0.651);
}

.nav-4:hover {
  color: brown;
  border-radius: 20px;
  background-color: rgba(255, 145, 0, 0.651);
}

/* !______________________________________________________ */

.brand,.content {
  width: 100%;
  max-width: 1200px; /* ป้องกันไม่ให้กว้างเกิน */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.brand {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.brand2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.banner-name {
  font-family: "Titan One", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: x-large;
  color: brown;
  margin-right: 35px;
}


/*! content__________________________________________________  */

.content {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  grid-template-rows: auto;
}

.content-1 {
  text-align: center;
  font-family: "Sigmar One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;

  grid-column: 1/5;
  grid-row: auto;
  background-color: burlywood;
  padding: 30px;
  border-radius: 50px;
}
.content-1 h2 {
  margin-right: 50px;
}

/*!__________________________________________________  */

/* !brand row________________________________*/

.brand {
  display: flex;
  flex-direction: row;
  gap: 30px;
  /* justify-content: center; */
  justify-content: space-evenly;
}

.brand2 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  /* justify-content: center; */

  justify-content: space-evenly;
}

.brand3 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  /* justify-content: center; */

  justify-content: space-evenly;
}

/* !________________________________*/

/* ! BoxBrand___________________________ */

.brand-1 {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  border-radius: 30px;
}

.brand-2 {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  border-radius: 30px;
}

.brand-3 {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  border-radius: 30px;
}

.brand-4 {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  border-radius: 30px;
}

.brand2-1 {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  border-radius: 30px;
}

.brand2-2 {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  border-radius: 30px;
}

.brand2-3 {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  border-radius: 30px;
}

.brand2-4 {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  border-radius: 30px;
}

.brand3-1 {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  border-radius: 30px;
}

.brand3-2 {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  border-radius: 30px;
}

.brand3-3 {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  border-radius: 30px;
}

.brand3-4 {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  border-radius: 30px;
}

/* !___________________________ */

/* ! Animation_____________________________________ */
.brand-1:hover {
  transform: scale(1.2);
  opacity: 1;
  transition: 1s;
  opacity: 1;
}

.brand-2:hover {
  transform: scale(1.2);
  transition: 1s;
  opacity: 1;
}
.brand-3:hover {
  transform: scale(1.2);
  transition: 1s;
  opacity: 1;
}

.brand-4:hover {
  transform: scale(1.2);
  transition: 1s;
  opacity: 1;
}

.brand2-1:hover {
  transform: scale(1.2);
  transition: 1s;
  opacity: 1;
}

.brand2-2:hover {
  transform: scale(1.2);
  transition: 1s;
  opacity: 1;
}

.brand2-3:hover {
  transform: scale(1.2);
  transition: 1s;
  opacity: 1;
}

.brand2-4:hover {
  transform: scale(1.2);
  transition: 1s;
  opacity: 1;
}

.brand3-1:hover {
  transform: scale(1.2);
  transition: 1s;
  opacity: 1;
}

.brand3-2:hover {
  transform: scale(1.2);
  transition: 1s;
  opacity: 1;
}

.brand3-3:hover {
  transform: scale(1.2);
  transition: 1s;
  opacity: 1;
}

.brand3-4:hover {
  transform: scale(1.2);
  transition: 1s;
  opacity: 1;
}

.hero {
  font-size: larger;
  text-decoration: none;
  color: black;
}

.hero:hover {
  color: brown;
}

a {
  text-decoration: none;
  color: black;
}
/* ! __________________________________________________ */

.unicon {
  color: brown;
}
.unicon:hover {
  color: rgb(255, 0, 0);
}

/* !Responsive___________________________________________*/
@media (max-width: 635px) {
  .content-3 {
    display: none;
  }
}
@media (max-width: 635px) {
  .content-2 {
    grid-column: 1/5;
  }
}
@media (max-width: 1253px) {
  .content {
    margin: 0px;
  }
}
/* !___________________________________________*/



.footer{
  font-family: "SUSE Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



